.backgroundPhoto{
    background-image: url("../img/background.jpg") !important;
    background-color: rgb(175, 175, 175);
    background-size: cover;
}

.error{
    color:red;
}

.validate{
    color:green;
}

.toggle{
    display:inline;
    cursor : pointer;
}

.alert{
    position: fixed;
    top:70px;
    right: 50%;
}

#sendData i{
    display: none;
}